button {
    display: inline-block;
    width: 33%;
    font-size: 25px;
    text-align: center;
}
div {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;

}
#yourScore {
    color: teal;

}