body {
    background-color: #83b8ff;
}

button {
    display: block;
    width: 33%;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    margin: 10px 0px 10px 10px;
    border-radius: 5px;
}

p {
    display: block;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}



#round {
    text-align: center;
}
img {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-left:40%;
    

}
#comp {
    margin-left: 60%;
}

#yourScore {
    text-align: center;
}